body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvczkzLWFrLTI0NTUuanBn.jpg?s=EK7jacFTHCm4SQkpPePArMR1MMeed3pmfkVrsxexOq0);
  background-repeat: no-repeat;
  background-size: cover;

}

.title{
  text-decoration: none;
  margin-left: 100px;
  font-size: xx-large;
  color: beige;
  font-weight: 500;
}
.calculator{
  padding: 30px;
  height: 40vh;
}
.screen{
  height: 35px;
  background-color: rgb(230, 230, 236);
  text-align: right;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 25px;
  
}
.cal-container{
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  align-content: center;
}

button{
  padding: 20px;
}
